table {font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;}

h1 {text-align:center;
	color:red;}

h2 {text-align:left;
	color:#597D35;}

h3 {text-align:justify;
	color: black;}

body {background-color:#9CD4E0;}

/* freya and Ria
	
}